<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.ibscms.extend.dao.mybatis.TestDao">
	<!-- 测试 -->
	<select id="get" parameterType="int" resultType="Test">
		select * from test t where t.id = #{id}
	</select>
</mapper> 
